@import 'shared';

html,
body {
  @include fullScreen();
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background;

  font-family: 'Orbitron', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: $primary;
}

